@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  /* font-family: 'Pacifico', cursive; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  background: rgb(49, 49, 49)
}

body::-webkit-scrollbar-track-piece {
  background: rgb(49, 49, 49);
}

body::-webkit-scrollbar-thumb {
  background: white;
  box-shadow: inset -2px 2px 3px hsl(0deg 0% 100% / 25%),
    inset -1px 2px 3px rgb(0 0 0 / 25%);
  border-radius: 20px;
}


/* body {
  background: linear-gradient(to bottom, black, gray);
  color: aliceblue;
} */
.jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.input {
  @apply w-full p-2 text-black border border-gray-300 rounded;
}

.btn {
  @apply bg-blue text-white px-4 py-2 rounded
  /* hover:bg-blue-600 */
  ;
}

.step {
  @apply text-white;
}

.step.active {
  @apply text-blue font-semibold;
}