@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  font-family: pacifico;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  background: rgb(49, 49, 49)
}

body::-webkit-scrollbar-track-piece {
  background: rgb(49, 49, 49);
}

body::-webkit-scrollbar-thumb {
  background: white;
  box-shadow: inset -2px 2px 3px hsl(0deg 0% 100% / 25%),
    inset -1px 2px 3px rgb(0 0 0 / 25%);
  border-radius: 20px;
}

/* Consultation Modal Scrollbar */
.consultation-modal::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /* background: red; */
}

.consultation-modal::-webkit-scrollbar-track {
  background: rgb(49, 49, 49)
}

.consultation-modal::-webkit-scrollbar-track-piece {
  background: rgb(49, 49, 49);
}

.consultation-modal::-webkit-scrollbar-thumb {
  background: white;
  box-shadow: inset -2px 2px 3px hsl(0deg 0% 100% / 25%),
    inset -1px 2px 3px rgb(0 0 0 / 25%);
  border-radius: 20px;
}

/* Single Product Scroll */
.single-prod-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  /* background: red; */
}

.single-prod-scroll::-webkit-scrollbar-track {
  background: rgb(214, 213, 213);
  border-radius: 20px;
}

.single-prod-scroll::-webkit-scrollbar-track-piece {
  background: rgb(214, 213, 213);
  border-radius: 20px;
}

.single-prod-scroll::-webkit-scrollbar-thumb {
  background: rgb(177, 176, 176);
  box-shadow: inset -2px 2px 3px hsl(0deg 0% 100% / 25%),
    inset -1px 2px 3px rgb(0 0 0 / 25%);
  border-radius: 20px;
}
/* .single-prod-scroll::-webkit-scrollbar-button {
  background: rgb(51, 51, 51);
  height: 10px;
  border-radius: 40%;
} */


/* body {
  background: linear-gradient(to bottom, black, gray);
  color: aliceblue;
} */
.jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.input {
  @apply w-full p-2 text-black border border-gray-300 rounded;
}

.btn {
  @apply bg-blue text-white px-4 py-2 rounded
  /* hover:bg-blue-600 */
  ;
}

.step {
  @apply text-white;
}

.step.active {
  @apply text-blue font-semibold;
}