/* RangeSlider.css */

.fayas{
    background: red;
}

.range-slider-div {
    width: 100%;
  }
  
  .range-slider-div .range-slider__thumb[data-lower],
  .range-slider-div .range-slider__thumb[data-upper] {
    width: 1.2em; /* Decrease the size of the thumbs */
    height: 1.2em;
  }
  
  .range-slider-div [data-track] {
    height: 4px; /* Adjust the track height if needed */
  }
  
  @media (max-width: 768px) {
    .range-slider-div {
      width: 90%; /* Adjust the width for smaller screens */
    }
  
    .range-slider-div [data-lower_thumb],
    .range-slider-div [data-upper_thumb] {
      width: 12px; /* Further decrease thumb size on smaller screens */
      height: 12px;
    }
  }