#range-slider-component {
    background-color: white;
}
#range-slider-component .range-slider__range {
    background: black;
    transition: height 0.3s;
  }

  #range-slider-component .range-slider__thumb {
    border: 6px solid rgb(184, 180, 180);
    box-sizing: border-box;
    background: black;
  }
  
/* Consultation Modal Scrollbar */
.consultation-modal::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  /* background: red; */
}

.consultation-modal::-webkit-scrollbar-track {
  background: rgb(214, 213, 213);
  border-radius: 20px;
}

.consultation-modal::-webkit-scrollbar-track-piece {
  background: rgb(214, 213, 213);
  border-radius: 20px;
}

.consultation-modal::-webkit-scrollbar-thumb {
  background: rgb(104, 103, 103);
  box-shadow: inset -2px 2px 3px hsl(0deg 0% 100% / 25%),
    inset -1px 2px 3px rgb(0 0 0 / 25%);
  border-radius: 20px;
}
/* .consultation-modal::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.consultation-modal::-webkit-scrollbar-track {
  background: rgb(49, 49, 49)
}

.consultation-modal::-webkit-scrollbar-track-piece {
  background: rgb(49, 49, 49);
}

.consultation-modal::-webkit-scrollbar-thumb {
  background: white;
  box-shadow: inset -2px 2px 3px hsl(0deg 0% 100% / 25%),
    inset -1px 2px 3px rgb(0 0 0 / 25%);
  border-radius: 20px;
} */

/* Single Product Scroll */
.single-prod-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  /* background: red; */
}

.single-prod-scroll::-webkit-scrollbar-track {
  background: rgb(214, 213, 213);
  border-radius: 20px;
}

.single-prod-scroll::-webkit-scrollbar-track-piece {
  background: rgb(214, 213, 213);
  border-radius: 20px;
}

.single-prod-scroll::-webkit-scrollbar-thumb {
  background: rgb(177, 176, 176);
  box-shadow: inset -2px 2px 3px hsl(0deg 0% 100% / 25%),
    inset -1px 2px 3px rgb(0 0 0 / 25%);
  border-radius: 20px;
}
/* .single-prod-scroll::-webkit-scrollbar-button {
  background: rgb(51, 51, 51);
  height: 10px;
  border-radius: 40%;
} */

/* Hamburger */
.menu-trigger {
  display: inline-flex;
  flex-direction: column;
  /* height: 48px;
  width: 48px; */
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
  border: 0;
  outline: 0;
  position: relative;
  padding: 9px;
  cursor: pointer;
  span {
    display: inline-flex;
    width: 20px;
    height: 3px;
    border-radius: 16px;
    background-color: #ffff;
    transition: all ease 0.5s;
  }
}
.menu-close {
  span {
    position: absolute;
    background-color: #ffff;
    &:nth-child(1) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(2) {
      opacity: 0;
      height: 0;
      width: 0;
    }
  }
}
/* Hamburger */

:root {
  --toastify-toast-width: 250px;
  --toastify-toast-width: 250px;
  --toastify-font-family: 'Josefin Sans';
}
